<page-header [identity]="identity"
             tab="MANAGE_ROLES"
             [messages]="globalMessages"></page-header>

<form [formGroup]="form">

    <!-- ROLE TYPE SELECTOR WHEN CREATING A NEW ROLE -->
    <div class="panel panel-default" *ngIf="!roleHref">
        <div class="panel-heading">
            <h4><span class="badge square">1</span> Select a role</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <h4>Role type*</h4>
                <select class="form-control" [formControl]="form.controls['roleType']" #t (change)="onRoleTypeChange(t.value)">
                    <option value="-" disabled hidden>Please Choose...</option>
                    <option *ngFor="let roleTypeRef of roleTypeRefs" value={{roleTypeRef.value.code}}>{{roleTypeRef.value.shortDecodeText}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- ROLE TYPE DISPLAY IF EDITING AN EXISTING ROLE -->
    <div class="panel panel-default" *ngIf="roleHref">
        <div class="panel-heading">
            <h4><span class="badge square">1</span> Role Type</h4>
        </div>
        <div class="panel-body">
            {{ role?.roleType?.value?.shortDecodeText }}
        </div>
    </div>

    <!-- AGENCIES ALLOCATED TO THE ROLE -->
    <div class="panel panel-default" *ngIf="role?.roleType">
        <div class="panel-heading">
            <h4><span class="badge square">2</span> Online software provider agencies services</h4>
        </div>
        <div class="panel-body">
                <h4>Access to government agencies services</h4>

                <div *ngIf="hasServiceBeenRemoved">
                    <div class="alert alert-warning" role="alert">Removing agency services will affect existing relationships</div>
                </div>
                <!-- AGENCY SELECTOR FOR USERS WHO CAN EDIT AGENCIES - LIST ALL, WITH ONLY THOSE USER HAS ACCESS TO ENABLED -->
                <table class="table table-hover checkbox-table" *ngIf="me.agencyUserInd">
                    <tbody>
                    <tr *ngFor="let attributeUsage of allAgencyServiceRoleAttributeNameUsages"
                        (click)="hasAccessToAgencyService(attributeUsage.attributeNameDef.value.code) && onAgencyServiceChange(attributeUsage.attributeNameDef.value.code)">
                        <td [class.clickable]="hasAccessToAgencyService(attributeUsage.attributeNameDef.value.code)">
                            <div [class.text-muted]="!hasAccessToAgencyService(attributeUsage.attributeNameDef.value.code)">
                                {{attributeUsage.attributeNameDef.value.shortDecodeText}}
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox"
                                       [disabled]="!hasAccessToAgencyService(attributeUsage.attributeNameDef.value.code)"
                                       [checked]="isAgencyServiceSelected(attributeUsage.attributeNameDef.value.code)"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- LIST AGENCIES ASSIGNED TO ROLE FOR USERS WHO CANNOT EDIT AGENCIES -->
                <table class="table table-hover checkbox-table" *ngIf="!me.agencyUserInd">
                    <tbody>
                    <tr *ngFor="let attribute of assignedAgencyAttributes">
                        <td>
                            <div>
                                {{attribute.attributeName.value.shortDecodeText}}
                            </div>
                        </td>
                    </tr>
                    </tbody>r
                </table>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="role?.roleType">
        <div class="panel-heading">
            <h4><span class="badge square">3</span> Online software provider preferences</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <h4>Preferred Name</h4>
                <input type="text" class="form-control" placeholder="" [formControl]="form.controls['preferredName']"/>
                <br/>
            </div>
            <div class="form-group">
                <h4>Assign credentials for software provider services</h4>
                <table class="table table-hover checkbox-table">
                    <thead>
                    <tr>
                        <th>Credential</th>
                        <th>
                            <div class="checkbox"><input (change)="toggleAllAuskeys()" type="checkbox" [formControl]="form.controls['toggleAllAuskeys']"/></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let auskeyRef of deviceAusKeyRefs?.list" (click)="onAusKeyChange(auskeyRef.value.id)" class="clickable">
                        <td>
                            {{auskeyRef.value.id}}
                        </td>
                        <td>
                            <div class="checkbox"><input type="checkbox" [checked]="isAusKeySelected(auskeyRef.value.id)"/></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <search-result-pagination
                    [searchResult]="deviceAusKeyRefs"
                    [delegate]="auskeyPaginationDelegate">
                </search-result-pagination>
            </div>
        </div>
    </div>

</form>

<div id="action-button-bar">
    <div class="pull-left">
        <button class="btn btn-default align-center" (click)="back()">← {{'back' | translate}}</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary align-center" (click)="save()">{{'save' | translate}} →</button>
    </div>
</div>