<page-header [identity]="identity"
             tab="MANAGE_NOTIFICATIONS"
             [messages]="globalMessages"></page-header>

<table class="table">
    <thead>
        <tr>
            <th><h4>My software service subscriptions</h4></th>
            <th class="col-md-2"><h4>Status</h4></th>
            <th class="col-md-2"></th>
            <th class="col-md-2"><a class="btn btn-primary align-center" (click)="goToAddNotificationPage()" *ngIf="isAddNotificationEnabled()">Add Notification</a></th>
        </tr>
    </thead>
    <tbody *ngIf="!isLoading">
        <tr *ngFor="let relationshipRef of relationshipSearchResult?.list">
            <td>{{services.model.displayName(relationshipRef.value.delegateNickName)}}</td>
            <td>{{services.model.relationshipStatusLabel(relationshipStatusRefs, relationshipRef.value.status)}}</td>
            <td></td>
            <td><a class="btn btn-sm btn-secondary align-center" (click)="goToEditNotificationPage(relationshipRef)" *ngIf="isEditNotificationEnabled(relationshipRef)">{{'edit' | translate}}</a></td>
        </tr>
    </tbody>
    <tbody *ngIf="isLoading">
        <tr>
            <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
        </tr>
    </tbody>
</table>

<search-result-pagination
        [searchResult]="relationshipSearchResult"
        [delegate]="paginationDelegate">
</search-result-pagination>

<div *ngIf="isDashboardEnabled()">
    <div id="action-button-bar">
        <div class="pull-left">
            <a class="btn btn-default align-center" (click)="goToBusinessesPage()">← Back</a>
        </div>
    </div>
</div>