<page-header [identity]="identity"
             tab="GIVE_AUTHORISATION"
             [messages]="globalMessages"></page-header>

<div class="page-header">
    <h3><strong>Option 1</strong></h3>
</div>
<p class="lead">
    <h4><strong>{{displayName}}</strong> {{'addRelationship.complete.printOption1' | translate}}
    <a (click)="goToPrintPage()">{{'addRelationship.complete.printOption2' | translate}}</a> {{'addRelationship.complete.printOption3' | translate}} {{displayName}}.</h4>
</p>

<br/>

<div class="page-header">
    <h3><strong>Option 2</strong></h3>
</div>
<p class="lead">
    <h4>Enter an email address to send the instructions to <strong>{{displayName}}</strong>:</h4>
    <form class="form-horizontal" [formGroup]='form' (ngSubmit)="onSubmitEmail()">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-8">
                    <input [formControl]="form.find('email')" class="form-control" placeholder="Email ..." type="email">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary col-lg-12" [disabled]="!form.valid">Send</button>
                </div>
            </div>
        </fieldset>
    </form>
</p>

<br/>

<div class="page-header">
    <h3><strong>Option 3</strong></h3>
</div>
<p class="lead">
    <h4>Provide <strong>{{displayName}}</strong>’s Authenticator App's Unique Device Name (UDN):</h4>
    <form class="form-horizontal" [formGroup]='formUdn' (ngSubmit)="onSubmitUdn()">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-8">
                    <input [formControl]="formUdn.find('udn')" class="form-control" type="text" placeholder="UDN ...">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary col-lg-12" [disabled]="!formUdn.valid">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</p>

<hr/>

<p>
    <h4>The authorisation code <strong>{{code}}</strong> is included in the instructions and will expire in 7 days.</h4>
    <h4>You will be notified when <strong>{{displayName}}</strong> has completed the authorisation.</h4>
    <h4>To access these instructions again refer to the <strong>Authorisations</strong> page and select <strong>Edit</strong> for this user.</h4>
</p>

<br/>
<br/>

<div id="action-button-bar">
    <div class="pull-left">
        <a class="btn btn-default align-center" (click)="goToRelationshipsPage()">← Go to relationships</a>
    </div>
</div>
