<page-header [identity]="identity"
             tab="MANAGE_AUTHORISATIONS"
             [messages]="globalMessages"></page-header>

<form [formGroup]=form>
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
            <div class="form-group col-md-8">
                <h4><b>Filter by:</b></h4>
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" [formControl]="form.controls['partyType']">
                            <option value="-">{{ 'Party Type' | translate }}</option>
                            <template ngFor let-item="$implicit" [ngForOf]="partyTypeRefs">
                                <option value="{{item.value.name}}">{{item.value.shortDecodeText}}</option>
                            </template>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <select class="form-control" [formControl]="form.controls['relationshipType']">
                            <option value="-">{{ 'Authorisation Type' | translate }}</option>
                            <template ngFor let-item="$implicit" [ngForOf]="relationshipTypeRefs">
                                <option value="{{item.value.code}}">{{item.value.shortDecodeText}}</option>
                            </template>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <select class="form-control" [formControl]="form.controls['profileProvider']">
                            <option value="-">Login Type</option>
                            <template ngFor let-item="$implicit" [ngForOf]="profileProviderRefs">
                                <option value="{{item.value.name}}">{{item.value.shortDecodeText}}</option>
                            </template>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <select class="form-control" [formControl]="form.controls['status']">
                            <option value="-">Status</option>
                            <template ngFor let-item="$implicit" [ngForOf]="relationshipStatusRefs">
                                <option value="{{item.value.name}}">{{item.value.shortDecodeText}}</option>
                            </template>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <h4><b>Sort by:</b></h4>
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" [formControl]="form.controls['sort']">
                            <option value="-">Sort</option>
                            <option value="ASC">Name (Alphabetical)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading row">
            <div class="form-group col-md-8">
                <h4><b>Search by:</b></h4>
                <input type="text" class="form-control" placeholder="Your text" [formControl]="form.controls['text']"/>
            </div>
            <div class="form-group col-md-4">
                <h4><b>&nbsp;</b></h4>
                <button (click)="search()" class="btn btn-primary">Search Authorisations</button>
            </div>
        </div>
    </div>
</form>

<br/>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="col-md-2"><h4>Login Type</h4></th>
            <th class="col-md-3"><h4>Authorisation</h4></th>
            <th class="col-md-2"><h4>Status</h4></th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody *ngIf="!isLoading">
        <template ngFor let-item="$implicit" [ngForOf]="subjectGroupsWithRelationships">
            <tr class="relationship-subject-heading">
                <td colspan="5">
                    <div (click)="goToRelationshipsContext(item.subjectRef)" class="clickable">
                        <h4>{{services.model.displayNameForParty(item.subjectRef.value)}}</h4>
                        <h5>{{services.model.abnLabelForParty(item.subjectRef.value)}} /
                            {{services.model.partyTypeLabelForParty(item.subjectRef.value)}}</h5>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let relationshipRef of item.relationshipRefs">
                <td>{{services.model.displayName(relationshipRef.value.delegateNickName)}}
                    <span class="label label-warning" *ngIf="relationshipRef.value.isPending()">{{services.model.relationshipStatusLabel(relationshipStatusRefs, relationshipRef.value.status)}}</span>
                </td>
                <td>{{commaSeparatedListOfProviderNames(relationshipRef.value.delegate.value)}}</td>
                <td>{{services.model.relationshipTypeLabel(relationshipTypeRefs, relationshipRef.value)}}</td>
                <td>{{services.model.relationshipStatusLabel(relationshipStatusRefs, relationshipRef.value.status)}}</td>
                <td>
                    <a class="btn btn-sm btn-secondary align-center" (click)="goToRelationshipPage(relationshipRef)" *ngIf="isEditRelationshipEnabled(relationshipRef)">{{'edit' | translate}}</a>
                    <a class="btn btn-sm btn-secondary align-center" (click)="goToAcceptRejectRelationshipPage(relationshipRef)" *ngIf="isAcceptRejectRelationshipEnabled(relationshipRef)">{{'accept' | translate}} / {{'decline' | translate}}</a>
                </td>
            </tr>
        </template>
    </tbody>
    <tbody *ngIf="isLoading">
        <tr>
            <td colspan="5" class="text-center"><h3>Loading ...</h3><br/></td>
        </tr>
    </tbody>
</table>

<search-result-pagination
        [searchResult]="relationshipRefs"
        [delegate]="paginationDelegate">
</search-result-pagination>

<br/>
<br/>

<div class="panel panel-default container-fluid">
    <div class="panel-heading row">
        <div class="col-sm-8">
            <h4>Did you want to give a new individual or business authorisation? Have you received an
                "Authorisation code" email asking you to enter a code? Use the buttons on the right to perform these tasks.</h4>
        </div>
        <div class="col-sm-4">
            <br/>
            <a (click)="goToRelationshipAddPage()" class="btn btn-sm btn-primary" [class.disabled]="!giveAuthorisationsEnabled">Give authorisation</a>
            &nbsp;
            <a (click)="goToRelationshipEnterCodePage()" class="btn btn-sm btn-primary">Get authorised</a>
            <br/>
            <br/>
        </div>
    </div>
</div>
