<div class="panel panel-default">

    <div class="panel-heading">
        <h4><span class="badge square">1</span> {{'addRelationship.repDetails.heading' | translate}}</h4>
    </div>

    <div class="panel-body">

        <form *ngIf='!isDisabled()'>
            <div class="form-group">
                <div class="radio">
                    <div class="col-lg-2">
                        <label><h4>
                            <input type="radio"
                                   name="repType"
                                   [checked]="!isOrganisation()"
                                   (change)="toggleIndividual()">{{'addRelationship.individual' | translate}}</h4></label>
                    </div>
                    <div class="col-lg-2">
                        <label><h4>
                            <input type="radio"
                                   name="repType"
                                   [checked]="isOrganisation()"
                                   (change)="toggleOrganisation()">{{'addRelationship.organisation' | translate}}</h4></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>

        <individual-representative-details
                *ngIf='!isOrganisation()'
                [readOnly]='data.readOnly'
                [showDob]='data.showDob'
                [(data)]='data.individual'
                (isValid)="emitIndividualValidStatus($event)">
        </individual-representative-details>

        <organisation-representative-details
                *ngIf='isOrganisation()'
                [readOnly]='data.readOnly'
                [(data)]='data.organisation'
                (isValid)="emitOrganisationValidStatus($event)">
        </organisation-representative-details>

    </div>

    <br/>

</div>