<page-header [identity]="identity"
             tab="MANAGE_ROLES"
             [messages]="globalMessages"></page-header>

<table class="table">
    <thead>
        <tr>
            <th><h4>Role</h4></th>
            <th class="col-md-2"><h4>Date Assigned</h4></th>
            <th class="col-md-3"><h4>Operator</h4></th>
            <th class="col-md-2"><h4>Status</h4></th>
            <th class="col-md-2"><a class="btn btn-primary align-center" (click)="goToAddRolePage()" *ngIf="isAddRoleEnabled()">Add Role</a></th>
        </tr>
    </thead>
    <tbody *ngIf="!isLoading">
        <tr *ngFor="let roleRef of roleSearchResult?.list">
            <td>{{services.model.roleTypeLabel(roleTypeRefs, roleRef.value)}}</td>
            <td>{{services.model.displayDate(roleRef.value.assignedTimestamp)}}</td>
            <td>
                {{services.model.roleAttributeLabel(roleRef.value, 'CREATOR_AGENCY')}}
                <div class="text-muted">{{services.model.roleAttributeLabel(roleRef.value, 'CREATOR_NAME')}}</div>
            </td>
            <td>{{services.model.roleStatusLabel(roleStatusRefs, roleRef.value.status)}}</td>
            <td><a class="btn btn-sm btn-secondary align-center" (click)="goToRolePage(roleRef)" *ngIf="isEditRoleEnabled(roleRef)">{{'edit' | translate}}</a></td>
        </tr>
    </tbody>
    <tbody *ngIf="isLoading">
        <tr>
            <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
        </tr>
    </tbody>
</table>

<search-result-pagination
        [searchResult]="roleSearchResult"
        [delegate]="paginationDelegate">
</search-result-pagination>